<!-- Header -->
<header class="text-center py-5">
    <div class="container d-flex justify-content-between align-items-center">
        <article>
            <img src="/assets/images/Picture 1.png" alt="">
            <h1>Hey! I'm <strong style='color:#43021c !important;'>Hiren</strong></h1>
            <p>I am a Statistician turned Data Scientist based in London, UK and I am passionate about all things Data, Statistics/Machine Learning and Cloud Computing. Thank you for taking the time to get to know me . . .</p>
            </article>
    </div>
</header>
<!-- Header End I’m a trained Pharmaceutical Statistician that went on to become a Data Scientist. --> 

<!-- My Journey -->
<section id="journey">
    <div class="container pb-5">
        <h2 class="text-center pb-3">My Journey</h2>
        <p style="font-size:16px;color:  #000" class="text-center"> I started my career as a Statistician supporting the development of FMCG and Drug products, before going on to enter the world of Data/ML Consulting where I help organisations embrace Data, Machine Learning, and Cloud Technology. To truly understand my journey and how I got to where I am today, we need to go all the way back to the start . . . </p>
        <br>

        <div class="row my-3 text-right">
            <div class="col-6">
                <h5 style='color:#43021c !important;'>Sept 2006 </h5>
                <p class="paragraph"> I enter Brunel University to study Financial Mathematics. Why Financial Mathematics? Well, at this point, all I knew was that if you were good at Maths, you'd go on to work in Finance. After completing my first two years of studies, I realised that a career in Finance was not for me. Therefore, for my third year, I secured a 1-year internship with the Statistics department at Unilever.</p>
            </div>

            <div class="col-6">
                <img src="/assets/images/journey/a.png" alt="">
            </div>
        
        </div>

        <div class="row my-3">
            <div class="col-6">
                <img src="/assets/images/journey/b.png" alt="">
            </div>

            <div class="col-6">
                <h5 style='color:#43021c !important;'>Aug 2008</h5>
                <p class="paragraph"> During my internship with Unilever, I was mentored by talented Senior Statisticians, I learned how to program in SAS and I statistically supported numerous R&D studies. My time with Unilever inspired me to pursue a career as a Statistician and I was advised by my mentors to complete an MSc in Statistics. </p>
            </div>
        </div>

        <div class="row my-3 text-right">
            <div class="col-6">
                <h5 style='color:#43021c !important;'>Sept 2009</h5>
                <p class="paragraph">I returned to Brunel University to complete my final year of undergraduate studies. Naturally, my final year modules and dissertation topic were all focused on Applied Statistics. I also applied and secured my place to study for an MSc in Statistics at Warwick University starting in September 2011. </p>
            </div>

            <div class="col-6">
                <img src="/assets/images/journey/c.png" alt="">
            </div>
        
        </div>

        <div class="row my-3">
            <div class="col-6">
                <img src="/assets/images/journey/d.png" alt="">
            </div>

            <div class="col-6">
                <h5 style='color:#43021c !important;'>Nov 2010</h5>
                <p class="paragraph">After graduating with a BSc in Financial Mathematics from Brunel University, I took on a short-term role with the Royal Bank of Scotland (RBS). I provided analytics support for their recently launched Natwest Mobile Banking app before I headed to Warwick University to begin my Master's studies. </p>
            </div>
        </div>

        <div class="row my-3 text-right">
            <div class="col-6">
                <h5 style='color:#43021c !important;'>Sept 2011</h5>
                <p class="paragraph"> During my studies at Warwick University, I especially enjoyed my modules in Medical Statistics, Biostatistics, and Bayesian Statistics which piqued my interest in a career in the Pharmaceutical industry. I completed my final year dissertation (on the Analysis of Gene Expression Data) and graduated in August 2012. </p>
            </div>

            <div class="col-6">
                <img src="/assets/images/journey/e.png" alt="">
            </div>
        
        </div>

        <div class="row my-3">
            <div class="col-6">
                <img src="/assets/images/journey/f.png" alt="">
            </div>

            <div class="col-6">
                <h5 style='color:#43021c !important;'>May 2013</h5>
                <p class="paragraph"> I finally achieved my goal of becoming a Statistician when I joined GlaxoSmithKline (GSK). I supported the product development of respiratory drugs and go on to lead a small team of Jnr. Statisticians. After two years, my curiosity grew about the applications of Statistics outside of FMCG/Drug R&D. </p>
            </div>        
        </div>

        <div class="row my-3 text-right">
            <div class="col-6">
                <h5 style='color:#43021c !important;'>May 2015 - Present</h5>
                <p class="paragraph"> My curiosity led me to join Accenture's Data Science Centre of Excellence (CoE). With a new focus on Data Science consulting, I would help Accenture's clients embrace Data, Machine Learning, and Cloud Technology. Over the next 6 years, my role and responsibilities grew, which brings us to today . . .</p>
            </div>
            <div class="col-6">
                <img src="/assets/images/journey/g.png" alt="">
            </div>
        </div>
        <p style="font-size:16px;color:  #000" class="text-center"> Today, I lead large multidisciplinary technical teams to help organisations create intelligent value-adding data products/services. I have guided organisations from various industries to create their data science roadmap, define their ML/Cloud strategy, architect their cloud platform and create/deploy their first machine learning solution. With a focus on the complete data product life-cycle, I specialise in Analytics Strategy, Machine Learning, Cloud Technology, and DevOps. </p>
    </div>   
</section>   
<!-- My Journey End -->

<!-- My Qualifications -->
<section id="product" class="">
    <div class="container pb-5">
        <h2>My Qualifications</h2>
        <p style="font-size:16px;color:  #000" class="text-center"> Over the past decade, I have picked up some great new skills and qualifications on my journey . . .  </p>
        <hr style="height:10px; visibility:hidden;" />
        <div class="row my-3">
            <div class="col-6 text-center">
                <!-- <img class="lastImg my-4" src="/assets/icons/grad.ico" alt="" />-->
                <p style='color:#43021c !important;'><strong>Education</strong></p>
                <ul style="list-style: none;">
                    <li>MSc Statistics (U. of Warwick)</li>
                    <li>BSc Financial Mathematics (U. of Brunel)</li>
                </ul>
                <p style='color:#43021c !important;'><strong>Certifications</strong></p>
                <ul style="list-style: none;" >
                    <li>AWS Cloud Practitioner</li>
                    <li>Certified Kubernetes Application Developer</li>
                    <li>SAS Certified Base Programmer</li>
                    <li>SAS Certified Advanced Programmer</li>
                </ul>
            </div>

            <div class="col-6 text-center">
                <!-- <img class="lastImg my-4" src="/assets/icons/certificate.png" alt="" />-->
                <p style='color:#43021c !important;'><strong>Short Courses</strong></p>
                <ul style="list-style: none;" >
                    <li>Machine Learning (Life Science, U. of Oxford)</li>
                    <li>Developer Training for Spark & Hadoop (Cloudera) </li>
                    <li>Data Science at Scale Using Spark & Hadoop (Cloudera)</li>
                </ul>
                <ul style="list-style: none;" >
                    <li>Clinical Trials (U. of London)</li>
                    <li>Causal Inference (U. of London)</li>
                </ul>
                <ul style="list-style: none;" >
                    <li>Practical Bayesian Analysis in Clinical Trials (PSI) </li>
                    <li>Introduction to Pharmacokinetics and Bio-Equivalence (PSI) </li>
                </ul>
            </div>
        </div>
        <p style="font-size:16px;color:  #000" class="text-center"> You can explore my <a href="https://www.linkedin.com/in/hiren-p-51192060/" target="_blank"> LinkedIn Profile </a> for a comprehensive list of training courses and certifications achieved. </p>
    </div>
</section>
<!-- My Qualifications-->

<!-- My Portfolio -->
<section id="portfolio" class="py-5">
    <div class="container pb-5">
        <h2 class="text-center pb-3">My Portfolio</h2>
        <p style="font-size:16px;color:  #000" class="text-center">I have worked on a variety of data projects on my journey through the world of FMCG/Drug Development and Data/ML Consulting. You can explore some of those projects in more detail below . . . </p>
        <br>
        <ul id="pftLink" class="d-flex">
            <li>
                <a >Industry: <strong style='color:#43021c !important;'>{{uCase}}</strong><i></i></a>
                <ul>
                    <li><a (click)="uCFilter('All')">All</a></li>
                    <li><a (click)="uCFilter('FMCG R&D')">FMCG R&D</a></li>
                    <li><a (click)="uCFilter('Drug R&D')">Drug R&D</a></li>
                    <li><a (click)="uCFilter('Data/ML Consulting')">Consulting</a></li>
                </ul>
            </li>

            <li>
                <a >Technology: <strong style='color:#43021c !important;'>{{tech}}</strong><i></i></a>
                <ul>
                    <li><a (click)="tchFilter('All')">All</a></li>
                    <li><a (click)="tchFilter('On-Premise')">On-Prem</a></li>
                    <li><a (click)="tchFilter('SAS')">SAS</a></li>
                    <li><a (click)="tchFilter('GCP')">GCP</a></li>
                    <li><a (click)="tchFilter('Azure')">Azure</a></li>
                    <li><a (click)="tchFilter('AWS')">AWS</a></li>                    
                </ul>
            </li>

            <li>
                <a >Methods: <strong style='color:#43021c !important;'>{{method}}</strong><i></i></a>
                <ul>
                    <li><a (click)="mtdFilter('All')">All</a></li>
                    <li><a (click)="mtdFilter('Team/Community')">Community</a></li>
                    <li><a (click)="mtdFilter('Statistics')">Statistics</a></li>
                    <li><a (click)="mtdFilter('Cloud')">Cloud</a></li>
                    <li><a (click)="mtdFilter('Engineering')">Data Eng.</a></li>
                    <li><a (click)="mtdFilter('Business Intelligence')">B.Intelligence</a></li>
                    <li><a (click)="mtdFilter('Machine Learning')">ML</a></li>
                    <li><a (click)="mtdFilter('Deep Learning')">DL</a></li>
                </ul>
            </li>

            <li>
                <a >Year: <strong style='color:#43021c !important;'>{{year}}</strong><i></i></a>
                <ul>
                    <li><a (click)="yrFilter('All')">All</a></li>
                    <li><a (click)="yrFilter('2008-2009')">2008-2009</a></li>
                    <li><a (click)="yrFilter('2010-2011')">2010-2011</a></li>
                    <li><a (click)="yrFilter('2013-2015')">2013-2015</a></li>
                    <li><a (click)="yrFilter('2016-2017')">2016-2017</a></li>
                    <li><a (click)="yrFilter('2017-2018')">2017-2018</a></li>
                    <li><a (click)="yrFilter('2018-2019')">2018-2019</a></li>
                    <li><a (click)="yrFilter('2020-2021')">2020-2021</a></li>
                </ul>
            </li>
        </ul>

        <div class="products pt-3">
            <div class="row">
                <div class="col-4" *ngFor="let prt of fPortfolio | slice:0:pEnd">
                    <div class="pInside" (click)="openModal(template, prt.heading, prt.details, prt.logo)">
                        <div class="boundry">
                            <h5><img [src]="prt.logo" alt=""> {{prt.heading}}</h5>
                            <p>{{prt.shortDes}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <a (click)="addMore()" class="more" *ngIf="fPortfolio.length != 0 && pEnd < fPortfolio.length">
                See All<br />
                <i></i>
            </a>

            <a (click)="rmvMore()" class="less" *ngIf="fPortfolio.length != 0 && fPortfolio.length >= 6 && pEnd >= fPortfolio.length">
                <i></i><br />
                See Less
            </a>
        </div>
    </div>

    <ng-template #template>
        <div class="modal-header">
            <img [src]="logo" alt="">
            <h4 class="modal-title pull-left">{{heading}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" [innerHTML]="details">
        </div>
      </ng-template>
</section>
<!-- My Portfolio End -->


<!-- My Article -->
<section id="articles">
    <div class="container pb-5">
        <h2 class="text-center pb-3">My Articles</h2>
        <p style="font-size:16px;color: #000"  class="text-center "> Are you interested in Statistics? Data Science? Cloud Technology? Explore some of the latest articles I have written based on my experience/learnings from the field . . . </p>
        <br>

        <owl-carousel-o [options]="customOptions">            
            <ng-template carouselSlide>
                <a href="https://www.google.com/" target="_blank">
                    <img src="/assets/images/articles/articles1.png" alt=""> <p> <strong>Runny Ice Cream in Italy</strong> <br> Lesson One: An Example of Keeping It Simple Stupid (KISS). <br> <br> <strong> Comming Soon!</strong></p>
                </a>
            </ng-template>

            <ng-template carouselSlide>
                <a href="https://www.google.com/" target="_blank">
                    <img src="/assets/images/articles/articles2.png" alt=""> <p> <strong>Data Science Leadership</strong> <br> The various hats a Data Science Leader should/needs to wear. <br> <br> <strong> Comming Soon! </strong></p>
                </a>
            </ng-template>  
            
            <ng-template carouselSlide>
                <a href="https://www.google.com/" target="_blank">
                    <img src="/assets/images/articles/articles3.png" alt=""> <p> <strong>Recommend this, that and ...</strong> <br> Lesson Two: A recommendation engine story. <br> <br> <strong> Comming Soon!</strong></p>
                </a>
            </ng-template>

            <ng-template carouselSlide>
                <a href="https://www.google.com/" target="_blank">
                    <img src="/assets/images/articles/articles4.png" alt=""> <p> <strong>Becomming a "Dummies" Expert </strong> <br> Why an expert Statistician regularly reads the dummies guide to Statistics. <br> <br> <strong> Comming Soon!</strong></p>
                </a>
            </ng-template>  
            
            <!-- <ng-template carouselSlide> -->
                <!-- <a href="https://www.google.com/" target="_blank"> -->
                    <!-- <img src="/assets/images/articles/articles0.jpg" alt=""> <p> <strong>Article 5</strong> <br> Comming Soon! <br> <br> <strong> -- --- 2021</strong></p> -->
                <!-- </a>-->
            <!-- </ng-template> -->

        </owl-carousel-o>

    </div>
</section>
<!-- My Article End -->

<!-- Footer -->
<app-footer></app-footer>
<!-- Footer End -->



